* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* /////////////////////////FONTS
font-family: 'Oswald', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;

 ///////////////////////////////// */

h1,
h2,
h3,
h4 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Open Sans Condensed", sans-serif;
}

a {
  text-decoration: none;
  color: black
}
.button {
  font-size: 1.8vw;
  background-color: rgb(210, 0, 0);
  width: 300px;
  padding: 20px 15px 15px;
  color: white;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(91, 1, 1);
}

/* ////////////////////////////////////////////////// */

.app-container {
  width: 100%;
  min-height: 100%;
}

.app-header {
  background-color: rgb(200, 0, 0);
  text-align: center;
  height: 20vh;
  width: 100%;
  padding-top: 5vh;
}

.app-header h1 {
  color: white;
  font-size: 5vw;
}

.app-body {
  text-align: center;
  margin-top: 6vh;
  width: 80%;
  margin-left: 10%;
}
.each-body-section {
  border-top: 1px solid rgb(189, 0, 0);
}

/* ////////////////////SEARCH BAR */
.search-spaces {
  margin-top: 2.5vh;
  margin-bottom: 1.5vh;
}
.search-bar-container {
  margin-left: 10%;
  width: 80%;
}


